<h1>updated page</h1><br><br>
<form action="/modify/<%= @arr[0]['id'] %>" method="POST">
<b>Edit author</b><br><br>
<input type="text" name="writer" value="<%= @arr[0]['author'] %>"><br><br>
<br><br>
<b>Edit contents</b><br><br>
<textarea rows="30" cols="70" name="content">
	<%= @arr[0]['content'] %>
</textarea><br><br>
<input type="submit" name="submit" value="submit">
</form>
