<html><body>
<div style="text-align:center;margin:120px auto;">
<form action="/login" method="POST">
  <b>UserName:</b>
  <input type="text" name="userLoginName"/>
  <br><br>
  <b>Passsword:</b>
  <input type="password" name="userLoginPass"/>
  <br><br>
  <input type="submit" name="submit" value="login"/>
</form>
<form action="/signup" method="get">
  <input type="submit" name="submit" value="register"/>
</form>
<form action="change" method="get">
  <input type="submit" name="submit" value="xiugai"/>
</form>
</div>
</body></html>
 

  